@model LogisticsApp.Models.Order

<dl class="dl-horizontal">
    <dt>
        @Html.DisplayNameFor(model => model.Link)
    </dt>

    <dd>
        <a href="@Model.Link" target="_blank"> Link</a>
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Price)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Price) @Model.valuta.Name
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Quantity)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Quantity)
    </dd>
    <dt>
        Price(sum)
    </dt>

    <dd>
        @Model.valuta.getPriceInManat(Model.Price * Model.Quantity) AZN
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.isPaid)
    </dt>

    @if (Model.isPaid)
    {
        <dd>YES</dd>}
    else
    {
        <dd>NO</dd>}

    <dt>
        @Html.DisplayNameFor(model => model.isUrgent)
    </dt>

    @if (Model.isPaid)
    {
        <dd>YES</dd>}
    else
    {
        <dd>NO</dd>}

    <dt>
        @Html.DisplayNameFor(model => model.Description)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Description)
    </dd>

</dl>




