
@{
    ViewBag.Title = "Farid Cargo | " + ViewBag.TitleSuffix;
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<section id="actions" class="container container-fluid " style="background-color:rgba(243, 240, 240, 0.596); ">
    <div class="row">
        <div class="col-md-3">
            <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#BalanceModal" style="font-size:20px;">
                Balans : @ViewBag.Balance manat
            </button>

        </div>
        <div class="offset-3 col-md-6">
            <ul class="nav justify-content-end">
                <li class="nav-item" style="margin:5px">
                    <span class="btn btn-secondary nav-link">Musteri kodu: @ViewBag.CustomerNumber</span>
                </li>
                <li class="nav-item" style="margin:5px">
                    <a href="/Order/Create" class="btn btn-danger nav-link">Sifaris et</a>
                </li>
                <li class="nav-item" style="margin:5px">
                    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#declarationModal" style="font-size:20px;">
                        Beyan et
                    </button>
                </li>
            </ul>
        </div>
        <div class="modal fade" id="BalanceModal" tabindex="-1" role="dialog" aria-labelledby="BalanceModalTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="BalanceModalTitle">Balansi artir</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <span class="form-control-item">Senin balansinda @ViewBag.Balance manat pul var </span>
                        <br>
                        <br>
                        <label class="form-control-item"> Balansina elave etmek istediyin meblegi burda yaz</label>
                        <input type="number" class="form-control-item" name="balance">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Add money</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade bd-example-modal-lg" id="declarationModal" tabindex="-1" role="dialog" aria-labelledby="declarationModal"
             aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="declarationModal">Beyanname</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form action="Account/Declare" method="POST">
                        <div class="modal-body">
                            <div class="row">

                                <div class="col-md-12 col-lg-12 col-sm-12">
                                    <label>
                                        Ölkə
                                        <sup>*</sup>
                                    </label>
                                    <select name="country" class="form-control">
                                        <option value="15">Türkiyə</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-lg-6 col-sm-12">
                                    <label>
                                        Bağlama sayı (məs:1,2,3)
                                        <sup>*</sup>
                                    </label>
                                    <input type="number" name="count" value="1" class="form-control" required="required" min="1">
                                </div>
                                <div class="col-md-6 col-lg-6 col-sm-12">
                                    <label>
                                        Sifariş tarixi
                                        <sup>*</sup>
                                    </label>
                                    <input type="date" name="order_date" value="2019-02-24" class="form-control">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-lg-6 col-sm-12">
                                    <label>
                                        Haradan sifariş edilib
                                        <sup>*</sup>
                                    </label>
                                    <select name="ordered_from" class="form-control">
                                        <option value="shop">Mağaza</option>
                                        <option value="other">Digər</option>
                                    </select>
                                </div>
                                <div class="col-md-6 col-lg-6 col-sm-12">
                                    <label>
                                        Mağaza
                                        <sup>*</sup>
                                    </label>
                                    <input type="text" name="shop_name" class="form-control">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-lg-6 col-sm-12">
                                    <label>
                                        Kateqoriya
                                        <sup>*</sup>
                                    </label>
                                    <select name="category" class="form-control">
                                        <option value="1">Elektronika</option>
                                        <option value="2">Geyim</option>
                                        <option value="3">Ayaqqabı</option>
                                        <option value="4">Kosmetika &amp; Təmizlik</option>
                                        <option value="5">Uşaq</option>
                                        <option value="8">Məişət texnikası</option>
                                        <option value="9">Oyuncaq</option>
                                        <option value="10">Kitab</option>
                                        <option value="11">Məişət Texnikası</option>
                                        <option value="12">Dəftərxana ləvazimatı</option>
                                        <option value="13">Dərmanlar</option>
                                        <option value="14">İdman malları</option>
                                        <option value="15">Telefon</option>
                                        <option value="16">Ehtiyat hissələri</option>
                                        <option value="17">Noutbuklar və planşetlər</option>
                                        <option value="18">Kompüter aksesuarları</option>
                                        <option value="19">Saat</option>
                                        <option value="20">Rəqəmsal kameralar</option>
                                        <option value="21">Oyun aksesuarları</option>
                                        <option value="22">Dekorativ kosmetika</option>
                                        <option value="23">Qastronomiya</option>
                                        <option value="25">Poverbank</option>
                                        <option value="26">Avtomobil hissələri</option>
                                        <option value="27">Geyim Aksesuarları</option>
                                    </select>
                                </div>
                                <div class="col-12 col-lg-6">
                                    <label>
                                        İzləmə kodu
                                        <sup>*</sup>
                                    </label>
                                    <input type="text" class="form-control" name="purchase_code" required="required">
                                    <span class="error1" style="display: none;">
                                        <i class="error-log fa fa-exclamation-triangle"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 col-lg-4">
                                    <label>
                                        Qiymət
                                        <sup>*</sup>
                                    </label>
                                    <input type="number" step="0.01" class="form-control" name="price" required="required">
                                    <span class="error1" style="display: none;">
                                        <i class="error-log fa fa-exclamation-triangle"></i>
                                    </span>
                                </div>
                                <div class="col-12 col-lg-2">
                                    <label>
                                        Valyuta
                                        <sup>*</sup>
                                    </label>
                                    <select name="currency" class="form-control">
                                        <option value="azn">AZN</option>
                                        <option selected="" value="try">TRY</option>
                                        <option value="usd">USD</option>
                                        <option value="eur">EUR</option>

                                    </select>
                                </div>
                                <div class="col-12 col-lg-6">
                                    <label>
                                        Invoice
                                        <sup>*</sup>
                                    </label>
                                    <input type="file" class="form-control" name="invoice" required="required">
                                    <span class="error1" style="display: none;">
                                        <i class="error-log fa fa-exclamation-triangle"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 col-lg-12">
                                    <label>
                                        Qeyd
                                        <sup>*</sup>
                                    </label>
                                    <textarea class="form-control" placeholder="Əgər əlavə qeydiniz varsa bura yaza bilərsiniz"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Bagla</button>
                            <button type="submit" class="btn btn-primary">Tesdiqle</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="row" style="margin-top:25px;">
        <div class="col-md-4">
            <div class="list-group">
                @Html.ActionLink("Xaricdeki unvanlar", "Countries", "Manage", routeValues: null, htmlAttributes: new { @class = "list-group-item list-group-item-action list-active" })
                @Html.ActionLink("Sifarislerim", "Index", "Order", routeValues: null, htmlAttributes: new { @class = "list-group-item list-group-item-action list-active" })
                @Html.ActionLink("Tenzimlemeler", "EditPersonalData", "Manage", routeValues: null, htmlAttributes: new { @class = "list-group-item list-group-item-action" })

                <a href="#" class="list-group-item list-group-item-action">Balans</a>

                <a href="/Message/Index" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                    Mesajlar
                    <span class="badge badge-primary badge-pill">@ViewBag.MessagesCounter</span>
                </a>
                <a href="/Inquery/Index" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                    Sorgular
                    <span class="badge badge-primary badge-pill">@ViewBag.InqueriesCounter</span>
                </a>
                <a href="#" class="list-group-item list-group-item-action">Cixis</a>
            </div>

        </div>
        <div class="col-md-8">

           @RenderBody()
       
        </div>
</div>
</section>