@model LogisticsApp.Models.IndexViewModel
@{
    ViewBag.Title = "Farid Cargo";
    string classname = "";
    var a = classname.ToUpper();
    var countries=(List< LogisticsApp.Models.General.Country>)ViewBag.countries;
}

<section id="actions" class="container container-fluid " style="background-color:rgba(243, 240, 240, 0.596); ">
    <div class="row">
        <div class="col-md-3">
            <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#BalanceModal" style="font-size:20px;">
                Balans : @Model.Balance manat
            </button>

        </div>
        <div class="offset-3 col-md-6">
            <ul class="nav justify-content-end">
                <li class="nav-item" style="margin:5px">
                    <span class="btn btn-secondary nav-link">Musteri kodu: @Model.CustomerNumber</span>
                </li>
                <li class="nav-item" style="margin:5px">
                    <a href="/Account/Order" class="btn btn-danger nav-link">Sifaris et</a>
                </li>
                <li class="nav-item" style="margin:5px">
                    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#declarationModal" style="font-size:20px;">
                        Beyan et
                    </button>
                </li>
            </ul>
        </div>
        <div class="modal fade" id="BalanceModal" tabindex="-1" role="dialog" aria-labelledby="BalanceModalTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="BalanceModalTitle">Balansi artir</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <span class="form-control-item">Senin balansinda @Model.Balance manat pul var </span>
                        <br>
                        <br>
                        <label class="form-control-item"> Balansina elave etmek istediyin meblegi burda yaz</label>
                        <input type="number" class="form-control-item" name="balance">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Add money</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade bd-example-modal-lg" id="declarationModal" tabindex="-1" role="dialog" aria-labelledby="declarationModal"
             aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="declarationModal">Beyanname</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form action="Account/Declare" method="POST">
                        <div class="modal-body">
                            <div class="row">

                                <div class="col-md-12 col-lg-12 col-sm-12">
                                    <label>
                                        Ölkə
                                        <sup>*</sup>
                                    </label>
                                    <select name="country" class="form-control">
                                        <option value="15">Türkiyə</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-lg-6 col-sm-12">
                                    <label>
                                        Bağlama sayı (məs:1,2,3)
                                        <sup>*</sup>
                                    </label>
                                    <input type="number" name="count" value="1" class="form-control" required="required" min="1">
                                </div>
                                <div class="col-md-6 col-lg-6 col-sm-12">
                                    <label>
                                        Sifariş tarixi
                                        <sup>*</sup>
                                    </label>
                                    <input type="date" name="order_date" value="2019-02-24" class="form-control">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-lg-6 col-sm-12">
                                    <label>
                                        Haradan sifariş edilib
                                        <sup>*</sup>
                                    </label>
                                    <select name="ordered_from" class="form-control">
                                        <option value="shop">Mağaza</option>
                                        <option value="other">Digər</option>
                                    </select>
                                </div>
                                <div class="col-md-6 col-lg-6 col-sm-12">
                                    <label>
                                        Mağaza
                                        <sup>*</sup>
                                    </label>
                                    <input type="text" name="shop_name" class="form-control">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-lg-6 col-sm-12">
                                    <label>
                                        Kateqoriya
                                        <sup>*</sup>
                                    </label>
                                    <select name="category" class="form-control">
                                        <option value="1">Elektronika</option>
                                        <option value="2">Geyim</option>
                                        <option value="3">Ayaqqabı</option>
                                        <option value="4">Kosmetika &amp; Təmizlik</option>
                                        <option value="5">Uşaq</option>
                                        <option value="8">Məişət texnikası</option>
                                        <option value="9">Oyuncaq</option>
                                        <option value="10">Kitab</option>
                                        <option value="11">Məişət Texnikası</option>
                                        <option value="12">Dəftərxana ləvazimatı</option>
                                        <option value="13">Dərmanlar</option>
                                        <option value="14">İdman malları</option>
                                        <option value="15">Telefon</option>
                                        <option value="16">Ehtiyat hissələri</option>
                                        <option value="17">Noutbuklar və planşetlər</option>
                                        <option value="18">Kompüter aksesuarları</option>
                                        <option value="19">Saat</option>
                                        <option value="20">Rəqəmsal kameralar</option>
                                        <option value="21">Oyun aksesuarları</option>
                                        <option value="22">Dekorativ kosmetika</option>
                                        <option value="23">Qastronomiya</option>
                                        <option value="25">Poverbank</option>
                                        <option value="26">Avtomobil hissələri</option>
                                        <option value="27">Geyim Aksesuarları</option>
                                    </select>
                                </div>
                                <div class="col-12 col-lg-6">
                                    <label>
                                        İzləmə kodu
                                        <sup>*</sup>
                                    </label>
                                    <input type="text" class="form-control" name="purchase_code" required="required">
                                    <span class="error1" style="display: none;">
                                        <i class="error-log fa fa-exclamation-triangle"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 col-lg-4">
                                    <label>
                                        Qiymət
                                        <sup>*</sup>
                                    </label>
                                    <input type="number" step="0.01" class="form-control" name="price" required="required">
                                    <span class="error1" style="display: none;">
                                        <i class="error-log fa fa-exclamation-triangle"></i>
                                    </span>
                                </div>
                                <div class="col-12 col-lg-2">
                                    <label>
                                        Valyuta
                                        <sup>*</sup>
                                    </label>
                                    <select name="currency" class="form-control">
                                        <option value="azn">AZN</option>
                                        <option selected="" value="try">TRY</option>
                                        <option value="usd">USD</option>
                                        <option value="eur">EUR</option>

                                    </select>
                                </div>
                                <div class="col-12 col-lg-6">
                                    <label>
                                        Invoice
                                        <sup>*</sup>
                                    </label>
                                    <input type="file" class="form-control" name="invoice" required="required">
                                    <span class="error1" style="display: none;">
                                        <i class="error-log fa fa-exclamation-triangle"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 col-lg-12">
                                    <label>
                                        Qeyd
                                        <sup>*</sup>
                                    </label>
                                    <textarea class="form-control" placeholder="Əgər əlavə qeydiniz varsa bura yaza bilərsiniz"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Bagla</button>
                            <button type="submit" class="btn btn-primary">Tesdiqle</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="row" style="margin-top:25px;">
        <div class="col-md-4">
            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action list-active">
                    Xaricdeki unvanlar
                </a>
                <a href="#" class="list-group-item list-group-item-action">Sifarislerim</a>
                <a href="#" class="list-group-item list-group-item-action">Tenzimlemeler</a>
                <a href="#" class="list-group-item list-group-item-action">Balans</a>
                <a href="#" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                    Mesajlar
                    <span class="badge badge-primary badge-pill">@Model.Messages</span>
                </a>
                <a href="#" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                    Sorgular
                    <span class="badge badge-primary badge-pill">@Model.Inqueries</span>
                </a>
                <a href="#" class="list-group-item list-group-item-action">Cixis</a>
            </div>

        </div>
        <div class="col-md-8">

            <div id="countryInformations" class=" card text-center">
                <div class="jumbotronDiv">
                    <h1>DIQQET</h1>
                    <p>
                        Satıcı firmanın saytında sifariş verərkən ünvan hissəsini aşağıda qeyd olunan formada doldurmağınızı
                        xahiş edirik.
                    </p>
                </div>
                <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs">
                        @for (int i = 0; i < countries.Count(); i++)
                        {
                            if (i == 0) { classname = "active"; }
                            else { classname = ""; }
                            <li class="nav-item">
                                <a class="nav-link @classname" href="#" data-id="@countries[i].Name.ToLower()">@countries[i].Name.ToUpper()</a>
                            </li>
                        }
                    </ul>
                </div>
                <div class="card-body">

                    @for (int i = 0; i < countries.Count(); i++)
                    {
                        if (i == 0) { classname = "showonStart"; }
                        else { classname = ""; }
                        <div id="@ViewBag.countries[i].Name.ToLower()" class="@classname">


                            <li class="nav-item">
                                <a class="nav-link @classname" href="#" data-id="@ViewBag.countries[i].Name.ToLower()">@ViewBag.countries[i].Name.ToUpper()</a>
                            </li>
                            }
                            @for (int j = 0; j < countries[i].countryInformations.Count(); j++)
                            {

                            }
                          

                            <div class="row">
                                <div class="col-md-6 ">
                                    <label for="">Ad Soyad:</label>
                                    <span>Farid Cargo</span>
                                </div>
                                <div class="col-md-6 ">
                                    <label for="">State/Province/Region:</label>
                                    <span>DE (Delaware)</span>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-md-6 ">
                                    <label for="">Address Line1:</label>
                                    <span>700 CORNELL DR STE E16 u133927 MVR</span>
                                </div>
                                <div class="col-md-6 ">
                                    <label for="">ZIP/Postal Code:</label>
                                    <span>19801</span>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-md-6 ">
                                    <label for="">Address Line2:</label>
                                    <span>u133927 MVR</span>
                                </div>
                                <div class="col-md-6 ">
                                    <label for="">Country:</label>
                                    <span>USA</span>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-md-6 ">
                                    <label for="">City:</label>
                                    <span>WILMINGTON</span>
                                </div>
                                <div class="col-md-6 ">
                                    <label for="">Phone number:</label>
                                    <span>(302) 861-6062</span>
                                </div>
                            </div>
                            <br />
                        </div>
                        <div id="turkey">
                            <div class="row">
                                <div class="col-md-6 ">
                                    <label for="">Ad Soyad:</label>
                                    <span>Farid Cargo</span>
                                </div>
                                <div class="col-md-6 ">
                                    <label for="">Semt:</label>
                                    <span>Inkilap</span>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-md-6 ">
                                    <label for="">Adres 1:</label>
                                    <span>İnkilap mh. Küçüksu cd. Yelkenciler sk. Vardar ap. NO :14/4 kod: u133927 Fazil Quliyev</span>
                                </div>
                                <div class="col-md-6 ">
                                    <label for="">ZIP/Post Kodu:</label>
                                    <span>34768</span>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-md-6 ">
                                    <label for="">Il (Sehir):</label>
                                    <span>İstanbul</span>
                                </div>
                                <div class="col-md-6 ">
                                    <label for="">Ulke:</label>
                                    <span>Turkiye</span>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-md-6 ">
                                    <label for="">Ilce:</label>
                                    <span>Ümraniye</span>
                                </div>
                                <div class="col-md-6 ">
                                    <label for="">TC kimlik:</label>
                                    <span>66823284324</span>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-md-6 ">
                                    <label for="">Adres başlığı:</label>
                                    <span>Farid Cargo</span>
                                </div>
                                <div class="col-md-6 ">
                                    <label for="">Cep telefonu:</label>
                                    <span>5358935606</span>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-md-6 ">
                                    <label for="">Vergi numarası:</label>
                                    <span>6220881271</span>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div id="orderInformations" class="information card">
                    <div class="container">
                        <div class="">
                            <h3>odenilmemis sifarisler</h3>
                            <button class="btn btn-primary">hamisini sec</button>
                            <button class="btn btn-secondary">Ode</button>
                        </div>
                        <div>
                            <table class="table table-sm table-responsive-sm">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Kategoriya</th>
                                        <th scope="col">Say</th>
                                        <th scope="col">Qiymet</th>
                                        <th scope="col">Sifaris tarixi</th>
                                        <th scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>CategoryName</td>
                                        <td> 1 </td>
                                        <td> 100 USD </td>
                                        <td>00.00.2019</td>
                                        <td>
                                            <a href="" data-toggle="modal" data-target="#vieworderModal">etrafli</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">2</th>
                                        <td>CategoryName</td>
                                        <td> 3 </td>
                                        <td> 18 USD </td>
                                        <td>00.00.2019</td>
                                        <td>
                                            <a href="" data-toggle="modal" data-target="#vieworderModal">etrafli</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">3</th>
                                        <td>CategoryName</td>
                                        <td> 5 </td>
                                        <td> 21 USD </td>
                                        <td>00.00.2019</td>
                                        <td>
                                            <a href="" data-toggle="modal" data-target="#vieworderModal">etrafli</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="card-header">
                        <ul class="nav nav-tabs card-header-tabs">
                            <li class="nav-item">
                                <a class="nav-link active" href="#" data-id="ordered">Sifaris edilib (0)</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="#" data-id="inforeignstock">Xarici anbarda (0)</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="#" data-id="ontheway">Yola dusub (0)</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="#" data-id="arrived">Catib (0)</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="#" data-id="delivered">Tehvil verilib (0)</a>
                            </li>
                        </ul>
                    </div>
                    <div class="card-body position-relative">

                        <div id="ordered" class="showonStart">

                            <table class="table table-sm table-responsive-sm">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Kategoriya</th>
                                        <th scope="col">Say</th>
                                        <th scope="col">Qiymet</th>
                                        <th scope="col">Sifaris tarixi</th>
                                        <th scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>CategoryName</td>
                                        <td> 1 </td>
                                        <td> 100 USD </td>
                                        <td>00.00.2019</td>
                                        <td>
                                            <a href="" data-toggle="modal" data-target="#vieworderModal">etrafli</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">2</th>
                                        <td>CategoryName</td>
                                        <td> 3 </td>
                                        <td> 18 USD </td>
                                        <td>00.00.2019</td>
                                        <td>
                                            <a href="" data-toggle="modal" data-target="#vieworderModal">etrafli</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">3</th>
                                        <td>CategoryName</td>
                                        <td> 5 </td>
                                        <td> 21 USD </td>
                                        <td>00.00.2019</td>
                                        <td>
                                            <a href="" data-toggle="modal" data-target="#vieworderModal">etrafli</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div id="inforeignstock">
                            <!-- burda siyahi olacaq -->
                        </div>
                        <div id="ontheway">
                            <!-- burda siyahi olacaq -->
                        </div>
                        <div id="arrived">
                            <!-- burda siyahi olacaq -->
                        </div>
                        <div id="delivered">
                            <!-- burda siyahi olacaq -->
                        </div>
                        <div class="modal fade" id="vieworderModal" tabindex="-1" role="dialog" aria-labelledby="vieworderModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="vieworderModalLabel">Sifarisin detallari</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <label>Link:</label>
                                        <span class="form-control" name="link">fkjdhglskdfhglkdfhglkdsfhglhsldhglkdhfgdf</span>
                                        <br>
                                        <label>category:</label>
                                        <span class="form-control" name="category">categoryName</span>
                                        <br>
                                        <label>quantity:</label>
                                        <span class="form-control" name="quantity">0</span>
                                        <br>
                                        <label>price:</label>
                                        <span class="form-control" name="price">0</span>
                                        <label>Description:</label>
                                        <p class="form-control" name="description">Lorem ipsum dolor sit amet, consectetur adipisicing elitm.</p>

                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-primary" data-dismiss="modal">Save</button>
                                        <button type="button" class="btn btn-danger" data-dismiss="modal">Delete</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="settingInformations" class="information">
                    <form action="Account/Update" method="Post">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="settingsName">Ad</label>
                                <input type="text" class="form-control" id="settingsName">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="settingsLastname">Soyad</label>
                                <input type="text" class="form-control" id="settingsLastname">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="settingsEmal">Email</label>
                                <input type="email" readonly class="form-control" id="settingsEmal" placeholder="email@farid.com">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="settingsPhone">telefon</label>
                                <input type="number" class="form-control" id="settingsPhone">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="settingsIDCard">Sexsiyyet vesiqesinin nomresi</label>
                                <input type="text" class="form-control" id="settingsIDCard">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="settingsFIN">FIN</label>
                                <input type="text" class="form-control" id="settingsFIN">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="settingsBday">Dogum tarixi</label>
                                <input type="date" class="form-control" id="settingsBday">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="settingsPassword">Yeni sifre</label>
                                <input type="password" class="form-control" id="settingsPassword">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="settingsPassword">Yeni sifrenin tekrari</label>
                                <input type="password" class="form-control" id="settingsPassword">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="settingsAddress">Unvan</label>
                                <input type="text" class="form-control" id="settingsAddress">
                            </div>
                        </div>

                        <button type="submit" class="btn btn-primary">Yadda saxla</button>
                    </form>
                </div>
                <div id="BalanceInformations" class="information">
                    <table class="table table-sm table-responsive-sm">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Tarix</th>
                                <th scope="col">Odenis (azn)</th>
                                <th scope="col">Odenisin sebebi</th>
                                <th scope="col">Balans (azn)</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>00.00.2019</td>
                                <td> 6 </td>
                                <td> Balans artirma </td>
                                <td>6</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>00.00.2019</td>
                                <td> 8 </td>
                                <td> Balans artirma </td>
                                <td>14</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>00.00.2019</td>
                                <td> -9 </td>
                                <td> Sifaris </td>
                                <td>5</td>
                            </tr>
                            <tr>
                                <th scope="row">4</th>
                                <td>00.00.2019</td>
                                <td> -1 </td>
                                <td> Baglama catdirilmasi </td>
                                <td>4</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div id="inqueryInformations" class="information">
                    <div class="jumbotronDiv">
                        <h1>Sorgular</h1>
                        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#inqueryModal" style="float:left; margin-bottom:20px">
                            Yeni sorgu yarat
                        </button>
                    </div>
                    <div class="row" style="clear:both">
                        <table class="table table-sm table-responsive-sm">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Tarix</th>
                                    <th scope="col">basliq</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>00.00.2019</td>
                                    <td> irad </td>
                                    <td>
                                        <a href="" data-toggle="modal" data-target="#inqueryModal">etrafli</a>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <td>00.00.2019</td>
                                    <td> odenis ile bagli </td>
                                    <td>
                                        <a href="" data-toggle="modal" data-target="#inqueryModal">etrafli</a>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td>00.00.2019</td>
                                    <td> teklif </td>
                                    <td>
                                        <a href="" data-toggle="modal" data-target="#inqueryModal">etrafli</a>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">4</th>
                                    <td>00.00.2019</td>
                                    <td> sifaris ile bagli </td>
                                    <td>
                                        <a href="" data-toggle="modal" data-target="#inqueryModal">etrafli</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="modal fade" id="inqueryModal" tabindex="-1" role="dialog" aria-labelledby="inqueryModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="inqueryModalLabel">Yeni sorgu</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form>
                                        <div class="form-group">
                                            <select class="form-control form-control-sm" required>
                                                <option>sorgunun tipi *</option>
                                                <option>odenis ile bagli</option>
                                                <option>sifaris ile bagli</option>
                                                <option>catdirilma ile bagli</option>
                                                <option>Irad</option>
                                                <option>teklif</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <input type="text" class="form-control form-control-sm" required placeholder="basliq *">
                                        </div>
                                        <div class="form-group">
                                            <input type="text" class="form-control form-control-sm" placeholder="Link">
                                        </div>
                                        <div class="form-group">
                                            <textarea class="form-control form-control-sm" required placeholder="sorgunun metni *"></textarea>
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Bagla</button>
                                    <button type="button" class="btn btn-primary">Gonder</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="MessageInformations" class="information">
                    <div class="jumbotronDiv">
                        <h1>Mesajlar</h1>
                    </div>
                    <div class="row">
                        <table class="table table-sm table-responsive-sm">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Tarix</th>
                                    <th scope="col">Mesaj</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>00.00.2019</td>
                                    <td> irad </td>
                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <td>00.00.2019</td>
                                    <td> odenis ile bagli </td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td>00.00.2019</td>
                                    <td> teklif </td>
                                </tr>
                                <tr>
                                    <th scope="row">4</th>
                                    <td>00.00.2019</td>
                                    <td> sifaris ile bagli </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </section>