@model LogisticsApp.Models.BundleViewModel


<div class="modal-header">
    <h5 class="modal-title" id="declarationModalLabel">Beyanname</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

@using (Html.BeginForm("AdminCreate", "Bundle", FormMethod.Post,
                            new { enctype = "multipart/form-data", id = "CreateDeclarationForm" }))
{

    @Html.AntiForgeryToken()

<div class="modal-body">
    @foreach (var item in Model.Orders)
    {
        <input type="hidden" name="Orders" required value="@item.Id" />
    }
    <div class="row">
        <div class="col-md-6 col-lg-6 col-sm-12">
            <label>
                Ölkə
                <sup>*</sup>
            </label>
           <select name="country" class="form-control" required>
                <option value="@Model.Orders[0].country.Id">@Model.Orders[0].country.Name </option>
            </select>
        </div>
        <div class="col-md-6 col-lg-6 col-sm-12">
            <label>
                Bağlama sayı (məs:1,2,3)
                <sup>*</sup>
            </label>
            <input type="number" name="BundleQuantity" value="1" class="form-control" required min="1" max="100" step="1">
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-lg-6 col-sm-12">
            <label>
                Sifariş tarixi
                <sup>*</sup>
            </label>
            <input type="date" name="OrderDate" id="OrderDate" max="@DateTime.Now.ToString("yyyy-MM-dd")" value="@DateTime.Now.ToString("yyyy-MM-dd")" required class="form-control">
            <script>
                document.getElementById("OrderDate").max = new Date().toISOString().split("T")[0];
            </script>
        </div>
        <div class="col-md-6 col-lg-6 col-sm-12">
            <label>
                Kateqoriya
                <sup>*</sup>
            </label>
            <select name="Category" required class="form-control">
                <option value="@Model.Orders[0].category.Id">@Model.Orders[0].category.Name </option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-6">
            <label>
                İzləmə kodu
                <sup>*</sup>
            </label>
            <input type="text" class="form-control" name="TrackNumber" required>
        </div>
        <div class="col-12 col-lg-6">
            <label>
                Invoice
                <sup>*</sup>
            </label>
            <input type="file" class="form-control" name="Invoice" required>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-4">
            <label>
                Qiymət
                <sup>*</sup>
            </label>
            <input type="number" class="form-control" value="@Model.Price" name="price">
        </div>
        <div class="col-12 col-lg-2">
            <label>
                Valyuta
                <sup>*</sup>
            </label>
            <select name="Valuta" required class="form-control">
                <option value="@Model.Orders[0].valuta.Id">@Model.Orders[0].valuta.Name </option>
            </select>
        </div>
        <div class="col-12 col-lg-6">
            <label>
                Market
                <sup>*</sup>
            </label>
            <input type="text" class="form-control" name="MarketName" required>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-12">
            <label>
                Qeyd
            </label>
            <textarea class="form-control" name="Description" placeholder="Əgər əlavə qeydiniz varsa bura yaza bilərsiniz"></textarea>
        </div>
    </div>
</div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cansel</button>
        <button type="submit" class="btn btn-primary">Create</button>
    </div>
}

