@model LogisticsApp.Models.Page.News

@{
    ViewBag.Title = "News";
    DateTime DateSingle = @Model.Modified != null ? (DateTime)@Model.Modified : @Model.Created;

}

<section id="newspage" class="container container-fluid ">

    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-8">
                    <div class="boxShadow">
                        <h3>@Model.Title</h3>
                        <span>@DateSingle.ToString("dd.MM.yyyy")</span>
                        <p>
                            @Model.Text
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row  newsHeader">
                                <span class="mr-auto ml-auto">EN YENI XEBERLER</span>
                            </div>
                        </div>
                    </div>
                    @foreach (var item in ViewBag.LatesNews)
                    {
                        string title;

                        if (item.Title.Length > 20)
                        {
                            title = item.Title.Substring(0, 18) + "...";
                        }

                        else { title = item.Title; }
                        DateTime DateMultiple = item.Modified != null ? (DateTime)@item.Modified : @item.Created;



                    <div class="row">
                        <div class="col-md-12">
                            <div class="row newsItem">
                                <div class="col-md-4 newsItemImage">
                                    <img src="@item.PicturePath" width="60px" height="60px" alt="">
                                </div>
                                <div class="col-md-8 newsContent">
                                    <p>@title</p>
                                    <a href="/News/Details/@item.Id"> etrafli oxu > </a>
                                    <span id="newsCreatedTime">@DateMultiple.ToString("dd.MM.yyyy")</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    }
                </div>
            </div>
        </div>
    </div>




</section>
